@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
}

p, h1, h2, div, button {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #7E74F1;
}

ul {
  list-style: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

h1, h2 {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 30px;
}

@media (max-width: 500px) {
  h1, h2 {
    margin-top: 10px;
  }
}
/*@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #232E35;
    } @else {
        @return #F1F1F1F1;
    }
}

//Set background & text color

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
} */
.header {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(241, 241, 241, 0.9450980392);
  display: flex;
  font-size: 1.5em;
  background-color: #1E1E1E;
  letter-spacing: 10px;
  padding: 2% 4%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header ul {
  display: flex;
  gap: 3em;
}
.header a {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  line-height: 7px;
  letter-spacing: 1px;
  color: rgba(241, 241, 241, 0.9450980392);
}
.header button {
  color: rgba(241, 241, 241, 0.9450980392);
  background-color: transparent;
}
.header button:nth-of-type(1) {
  height: 35px;
  width: 35px;
  background-size: cover;
  border: none;
  padding-bottom: 8px;
}
.header__button_color {
  background-image: url("../images/moon-min.svg");
  background-size: cover;
  border: none;
  padding-bottom: 5px;
}
.header__button_color_type_grey {
  background-image: url("../images/frame.svg");
}
.header__nav {
  display: flex;
  align-items: center;
}
.header button:nth-of-type(2) {
  border-radius: 2.77px;
  border: 0.35px solid #F1F1F1;
  padding: 0.5em 1em;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.8em;
  padding-bottom: 5px;
}
.header__menu {
  display: none;
}

@media (max-width: 900px) {
  .header {
    font-size: 1.1em;
  }
  .header a {
    font-size: 0.5em;
  }
  .header button:nth-of-type(2) {
    display: none;
    padding: 0.3em 0.6em;
  }
  .header nav ul {
    display: none;
  }
  .header__button:nth-of-type(1) {
    margin-right: 0;
  }
  .header__buttons {
    margin-right: 0;
  }
  .header__menu {
    display: block;
    background-color: transparent;
    width: 25px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 2;
  }
  .header__menu div {
    background-color: #F1F1F1;
    width: 100%;
    height: 3px;
    margin-top: 5px;
  }
  .header__menu_open .one {
    transform: translateY(8px) rotate(45deg);
  }
  .header__menu_open .two {
    opacity: 0;
  }
  .header__menu_open .three {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.header__theme_light {
  color: #232E35;
  background-color: #FFFFFF;
}
.header__theme_light a {
  color: #232E35;
}
.header__theme_light button:nth-of-type(2) {
  border: 1px solid #B7B7B7;
}
.header__theme_light .header__menu div {
  background-color: #1E1E1E;
}

.menu__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
  display: flex;
}
.menu__popup li {
  margin-top: 30%;
}
.menu__popup ul {
  margin-bottom: 100%;
  gap: 3em;
}
.menu__popup_button {
  border-radius: 2.77px;
  border: 1px solid #F1F1F1;
  font-size: 0.8em;
  background-color: transparent;
  color: #F1F1F1;
  padding: 0.5em 1em;
}
.menu__popup a {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  line-height: 7px;
  letter-spacing: 1px;
  color: rgba(241, 241, 241, 0.9450980392);
}

.menu__popup_opened {
  visibility: visible;
  opacity: 1;
}

.menu__popup_theme_light {
  color: #232E35;
  background-color: #FFFFFF;
}
.menu__popup_theme_light a {
  color: #232E35;
}
.menu__popup_theme_light .menu__popup_button {
  border: 1px solid #B7B7B7;
}

.about-me {
  color: rgba(241, 241, 241, 0.9450980392);
  display: flex;
  font-size: 1em;
  background-color: #1E1E1E;
  padding: 8% 4%;
  align-items: center;
  justify-content: space-between;
}
.about-me__links {
  margin-top: 20px;
  width: 90px;
  margin-left: -25px;
}
.about-me__links .about-me__link-image {
  width: 40px;
  height: 40px;
  position: relative;
}
.about-me__link {
  font-size: 0em !important;
  width: 0;
}
.about-me h1:after {
  content: " Iuferova";
  color: #7E74F1;
}
.about-me__image {
  position: relative;
  width: 50vw;
  height: 400px;
}
.about-me__decor {
  background-color: #7E74F1;
  height: 350px;
  width: 300px;
  border-radius: 8px;
  transform: rotate(-10deg);
  position: absolute;
  left: 28%;
}
.about-me img {
  height: 350px;
  width: 300px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  left: 28%;
  object-fit: cover;
}
.about-me__image:hover {
  transform: scale(1.2);
  transition: transform ease-in-out 200ms;
}
.about-me img:hover {
  cursor: pointer;
  transform: rotate(10deg);
  transition: transform ease-in-out 200ms;
}
.about-me__content {
  width: 40vw;
}
.about-me__content p {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  color: rgba(241, 241, 241, 0.7);
  margin-top: 20px;
}

@media (max-width: 900px) {
  .about-me__content {
    width: 50vw;
  }
  .about-me p {
    font-size: 10px;
    line-height: 20px;
  }
  .about-me__image {
    width: 50vw;
    height: 300px;
  }
  .about-me__decor {
    height: 300px;
    width: 250px;
    left: 20%;
  }
  .about-me img {
    height: 300px;
    width: 250px;
    left: 20%;
  }
}
@media (max-width: 680px) {
  .about-me__image {
    width: 60vw;
    height: 250px;
  }
  .about-me__decor {
    height: 250px;
    width: 200px;
    left: 30%;
  }
  .about-me img {
    height: 250px;
    width: 200px;
    left: 30%;
  }
}
@media (max-width: 560px) {
  .about-me__image {
    width: 70vw;
    height: 250px;
  }
  .about-me__decor {
    height: 220px;
    width: 170px;
  }
  .about-me img {
    height: 220px;
    width: 170px;
  }
}
@media (max-width: 500px) {
  .about-me {
    flex-direction: column;
    gap: 40px;
    padding: 10% 4%;
  }
  .about-me__links {
    margin-left: 0;
  }
  .about-me__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me p {
    width: 90%;
  }
  .about-me__image {
    width: 40vw;
  }
  .about-me__decor {
    left: -5%;
  }
  .about-me img {
    left: -5%;
  }
}
.about-me_theme_light {
  color: #232E35;
  background-color: #FFFFFF;
}
.about-me_theme_light p {
  color: #232E35;
}

.sub-heading {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #656D72;
  letter-spacing: 10px;
  font-size: 10px;
  margin-left: 10px;
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px;
}

.sub-heading::before {
  content: url(../../images/Above\ title\ line.svg);
  position: absolute;
  margin-left: -15px;
  bottom: 4px;
}

@media (max-width: 500px) {
  .sub-heading {
    margin-top: 20px;
  }
}
.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: auto;
  width: 50%;
  color: #7E74F1;
  z-index: 0;
}

.tagcloud--item:hover {
  color: #36454F;
  cursor: pointer;
}

#skills {
  padding-top: 10px;
}

@media (max-width: 900px) {
  #skills {
    flex-direction: column-reverse;
  }
  #skills .about-me__content {
    width: 70%;
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  #skills {
    padding-top: 30px;
  }
  #skills .about-me__content {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
  }
}
#projects {
  padding-top: 10px;
  flex-direction: column;
  position: relative;
}
#projects .about-me__content {
  width: 70%;
  align-self: flex-start;
}

@media (max-width: 900px) {
  #projects {
    flex-direction: column;
  }
  #projects .about-me__content {
    width: 70%;
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  #projects {
    padding-top: 30px;
  }
  #projects .about-me__content {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
  }
}
.swiper {
  width: 90%;
  height: 400px;
  margin-top: 5%;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}

.swiper-wrapper {
  height: 90% !important;
}

.swiper-slide {
  font-size: 18px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 10px;
}

.swiper-pagination {
  margin-top: 100px !important;
}

.swiper-pagination-bullet-active {
  background-color: #7E74F1 !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.7;
  background-color: #656D72;
}

.slide-image-container {
  width: 100%;
  height: 70%;
  position: relative;
}

.slide-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: auto;
  position: static;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: none !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  color: #7E74F1 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  color: #7E74F1 !important;
}

.slide-content {
  display: flex;
  color: black;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.slide-content h4 {
  margin: 0;
}

.slide-info {
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.slide-info a {
  padding-left: 10px;
  cursor: pointer;
}

.slide-techs {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 3px;
  border: 1px solid rgba(101, 109, 114, 0.5);
  display: inline;
  border-radius: 3px;
  color: #656D72;
  font-size: 12px;
}

.slide-link-container {
  margin-left: 15px;
  width: 70px;
  display: flex;
}

.slide__link_repo {
  background-image: url(../../images/Github-grey.svg);
  background-size: cover;
  height: 25px;
  width: 25px;
}

.slide__link_web {
  background: url(../../images/Link-min.svg);
  background-size: cover;
  height: 25px;
  width: 25px;
}

@media (max-width: 500px) {
  h4 {
    font-size: 15px;
  }
  .slide-techs {
    width: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
