@use "../index" as *;

.tagcloud {
  @include fonts($additional-font, 400); 
    font-size: 20px;
    margin: auto;
    width: 50%;
    color: $additional-color;
    z-index: 0;
  }
  .tagcloud--item:hover {
    color: #36454F;
    cursor: pointer;
  }


