@use "../index" as *;
#contact {
    background-color: #EEEEEE;
    color: set-text-color($background-grey);
    flex-direction: column;
    align-items: flex-start;


    form {
        display: flex;
        flex-direction: column;
        border: none;
        width: 50vw;
    }

  
    

    form ::placeholder {
        @include fonts($main-font, 400); 
        font-style: normal;
    }

    .submit {
        background-color: $additional-color;
        color: white;
        cursor: pointer;
    }

    .submit:hover {
        opacity: 0.7;
    }


    fieldset {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-inline-start: 2px;
        margin-inline-end: 0;
        padding-block-start: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding-block-end: 0;
        border: none;
       

    }

    input {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        padding: 10px;
    }

    textarea:focus, input:focus {
        outline-color: $additional-color;
    }

    textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        padding: 10px;
    }
}

.all-contacts {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.contact-info {
    padding-top: 10px;
    margin-left: 150px;

    p {
        @include fonts("Open Sans", sans-serif, 400); 
        color: set-text-color($background-grey);
        font-weight: 100;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    h4 {
        font-weight: 200;
        @include fonts($main-font, 400); 
        font-style: normal;
        padding-bottom: 5px;
        padding-left: 20px;
    }
}

.info-container {
    position: relative;
}

.info-container:nth-last-of-type(1)::before {
    content: url(./images/Email.svg);
    position: absolute;
    left: -65px;
    top: -6px;
    
}

.info-container:nth-last-of-type(2)::before {
    content: url(../../../src/images/Address.svg);
    position: absolute;
    left: -65px;
    top: -6px;
   

}

.info-container:nth-last-of-type(3)::before{
    content: url(./images/Address.svg);
    position: absolute;
    left: -65px;
    top: -6px;
   

}

@media (max-width: 768px) {
    .contact-info { 
        margin-left: 100px;
    }
}


@media (max-width: 600px) {
    #contact {
        flex-direction: column;
        align-items: flex-start;

        form {
        width: 80vw;
        align-self: center;
    }
    .all-contacts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }

    .form-container {
        align-self: center;
        margin-top: 10px;
    }

    .contact-info {
        padding-top: 25px;
        margin-left: 0px;
        margin-left: 30px;
        margin-top: 20px;
    }
    }
}