.footer {
   background-color: #EEEEEE;
   width: 100vw;
   display: flex;
   justify-content: center;
   padding-top: 120px;
   padding-bottom: 50px;


   img {
    width: 40px;
    margin: 25px;
   }
}

@media (max-width: 600px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
        img {
            width: 20px;
            margin: 15px;
           }

    }
   
}

