#skills {
    padding-top: 10px;
}

@media (max-width: 900px) {
    #skills {
        flex-direction: column-reverse;

        .about-me__content {
            width: 70%;
            align-self: flex-start;
        }
    }
}


@media (max-width: 500px) {
    #skills {
        padding-top: 30px;

        .about-me__content {
            width: 100%;
            align-self: center;
            margin-bottom: 10px;
        }
    }
}