$main-font: "Inter", "Open Sans", sans-serif;
$additional-font: "Poppins";

@mixin fonts($font-family, $font-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
}
