@use "../index" as *;
$color: #1E1E1E;
$color1: #FFFF;
a {
    @include fonts($main-font, 400);
    font-size: 0.8em;
    line-height: 7px;
    letter-spacing: 1px;
    color: set-text-color($background-light);
}

ul {
    list-style: none;
    padding: 0;
}


button:hover {
    cursor: pointer;
    opacity: 0.7;
}