.footer {
   background-color: FFFFFF; 
   width: 100vw;
   display: flex;
   justify-content: center;


   img {
    width: 40px;
    margin: 25px;
   }
}

@media (max-width: 600px) {
    .footer {
        img {
            width: 20px;
            margin: 15px;
           }

    }
   
}

