@use "../index" as *;

.header {
    @include background-color(header);
    @include font-color($headings-font-color);
    @include fonts($main-font, 700);
    display: flex;
    font-size: 1em;
    letter-spacing: 10px;
    padding: 2% 2%;

    p {
        padding-top: 6px;
    }

    ul {
        display: flex;
        gap: 3em;
        padding-top: 5px;
    }

    a {
        @include font-color($text-font-color);
        @include fonts($main-font, 400);
        font-size: 0.8em;
        line-height: 7px;
        letter-spacing: 1px;
    }

    button {
        @include font-color($text-font-color);
        background-color: transparent;
    }


    button:nth-of-type(1) {
        height: 30px;
        width: 35px;
        background-size: cover;
        border: none;
        padding-bottom: 5px;
    }

    &__button:nth-of-type(1) {
        background-image: url('../images/moon-min.svg');
    }

    button:nth-of-type(2) {
        border-radius: 2.77px;
        border: 0.35px solid #F1F1F1;
        padding: 0.5em 1em;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1em;
        font-size: 0.8em;
        padding-bottom: 5px;
    }

    &__menu {
        display: none;
    }
}

@media(max-width: 900px) {
    .header {
        font-size: 0.7em;

        a {
            font-size: 0.5em;
        }
    
        button:nth-of-type(2) {
            display: none;
            padding: 0.3em 0.6em;
        }

        nav ul{
            display:none;
        }

        &__button:nth-of-type(1) {
            margin-right: 0;
        }

        &__buttons {
            margin-right: 0;
        }

        &__menu {
            display: block;
            background-color: transparent;
            width: 25px;
            height: 30px;
            cursor: pointer;
            margin-left: 10px;
            z-index: 2;

            div {
                background-color: #F1F1F1;
                width: 100%;
                height: 3px;
                margin-top: 5px;
            }

            &_open {
                .one {
                    transform: translateY(8px) rotate(45deg);
                }
                .two {
                    opacity: 0;
                }
                .three {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }

            
    }

}

/*&__button:nth-of-type(1) {
    height: 30px;
    width: 35px;
}*/