@use "../index" as *;

.header {
    @include fonts($main-font, 700);
    color: set-text-color($background-dark);
    display: flex;
    font-size: 1.5em;
    background-color: $background-dark;
    letter-spacing: 10px;
    padding: 2% 4%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;


    ul {
        display: flex;
        gap: 3em;
    }

    a {
        @include fonts($main-font, 400);
        font-size: 0.8em;
        line-height: 7px;
        letter-spacing: 1px;
        color: set-text-color($background-dark);
    }

    button {
        color: $text-font-color;
        background-color: transparent;
    }


    button:nth-of-type(1) {
        height: 35px;
        width: 35px;
        background-size: cover;
        border: none;
        padding-bottom: 8px;
    }

    &__button_color {
        background-image: url('../images/moon-min.svg');
        background-size: cover;
        border: none;
        padding-bottom: 5px;
    }

    &__button_color_type_grey {
        background-image: url('../images/frame.svg');
    }

    &__nav {
        display: flex;
        align-items: center;
    }


    button:nth-of-type(2) {
        border-radius: 2.77px;
        border: 0.35px solid #F1F1F1;
        padding: 0.5em 1em;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1em;
        font-size: 0.8em;
        padding-bottom: 5px;
    }

    &__menu {
        display: none;
    }
}

@media(max-width: 900px) {
    .header {
        font-size: 1.1em;

        a {
            font-size: 0.5em;
        }
    
        button:nth-of-type(2) {
            display: none;
            padding: 0.3em 0.6em;
        }

        nav ul{
            display:none;
        }

        &__button:nth-of-type(1) {
            margin-right: 0;
        }

        &__buttons {
            margin-right: 0;
        }

        &__menu {
            display: block;
            background-color: transparent;
            width: 25px;
            height: 30px;
            cursor: pointer;
            margin-left: 10px;
            z-index: 2;

            div {
                background-color: #F1F1F1;
                width: 100%;
                height: 3px;
                margin-top: 5px;
            }

            &_open {
                .one {
                    transform: translateY(8px) rotate(45deg);
                }
                .two {
                    opacity: 0;
                }
                .three {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }

            
    }

}

.header__theme_light {
    color: set-text-color($background-light);
    background-color: $background-light;

    a {
        color: set-text-color($background-light);
    }

    button:nth-of-type(2) {
        border: 1px solid #B7B7B7;
    }

.header__menu {
    div  {
            background-color: $background-dark;
        }
}
    
}
