#projects {
    padding-top: 10px;
    flex-direction: column;

    .about-me__content {
        width: 70%;
        align-self: flex-start;
    }
}

@media (max-width: 900px) {
    #projects {
        flex-direction: column-reverse;

        .about-me__content {
            width: 70%;
            align-self: flex-start;
        }
    }
}


@media (max-width: 500px) {
    #projects {
        padding-top: 30px;

        .about-me__content {
            width: 100%;
            align-self: center;
            margin-bottom: 10px;
        }

    }
}