@use "../index" as *;

.swiper {
    width: 90%;
    height: 400px;
    margin-top: 5%;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
  }

  .swiper-wrapper {
    height: 90% !important;
  }

  .swiper-slide {
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 10px;
  }

  .swiper-pagination {
    margin-top: 100px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $additional-color !important;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 0.7;
    background-color:  #656D72;
}

.slide-image-container {
  width: 100%;
  height: 70%;
  position: relative;
}

.slide-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color:  rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

  .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: auto;
    position: static;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: none !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    color:  #7E74F1 !important;
  }


  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    color:  #7E74F1 !important;
  }



  .slide-content {
    display: flex;
    color: black;
    width: 100%;
    flex-direction: column;
    padding: 20px;

    h4 {
        margin: 0;
    }
  }

.slide-info {
    padding-top: 15px;
    display: flex;
    align-items: center;

    a {
        padding-left: 10px;
        //font-size: 0em !important;
        cursor: pointer;
        }
    }

    .slide-techs {
        font-family: "Inter", sans-serif;
        font-weight: 200;
        padding: 3px;
        border: 1px solid rgba(101,109,114,0.5);
        display: inline;
        border-radius: 3px;
        color:  #656D72;
        font-size: 12px;
    }

    .slide-link-container {
            margin-left: 15px;
            width: 70px;
            display: flex;

    }

    .slide__link_repo {
      background-image:url(../../images/Github-grey.svg);
      background-size: cover;
      height:25px;
      width:25px;
    }

    .slide__link_web {
      background:url(../../images/Link-min.svg);
      background-size: cover;
      height:25px;
      width:25px;
    }



    @media (max-width: 500px){

        h4 {
            font-size: 15px;
        }
        .slide-techs  {
        width: auto !important;
    }

    }